*,
*::before,
*::after { box-sizing: border-box; }

html,
body 
{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  
}
/* .container{
	overflow: auto !important;
	height: 500px;
} */


textarea 
{
	margin-top: 10px;
	margin-left: 50px;
	width: 500px;
	height: 100px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
	border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
	border-image: none;
	border-radius: 6px 6px 6px 6px;
	border-style: none solid solid none;
	border-width: medium 1px 1px medium;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	color: #555555;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	padding: 5px 8px;
	transition: background-color 0.2s ease 0s;
	box-shadow: 0px 4px 10px #3c3c3c;
}

input{
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
	transition: background-color 0.2s ease 0s;	
	box-shadow: 0px 2px 5px #3c3c3c;
}

textarea:focus 
{
	background: none repeat scroll 0 0 #FFFFFF;
	outline-width: 0;
	box-shadow: 0px 4px 10px #3c3c3c;
}

#frame
{
	position: relative;
	border: solid 15px #3c3c3c;
	width: 600px;
	height: 90%;
	padding: 0px;
	border-radius: 10px;
	box-shadow: 0px 4px 10px #3c3c3c;
	background-color: #3c3c3c;
}

.row 
{
	height: 100%;
}
.card 
{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/*Light blue cover above the slide show*/
.card::after 
{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(140, 22, 115, 0.2);
}

.card_part 
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;

  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;
  
  transform: translateX( 700px );
  
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}

img
{
	object-fit: cover;
	height: 100%;
}

@keyframes opaqTransition 
{
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -700px ); }
  100% { transform: translateX( -700px ); }
}

#contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#8BC3A3;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
/* center{
  margin-top:330px;
} */
input {
    position: relative;
    z-index: 9999;
}